{
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": "eslint:recommended",
	"globals": {
		"gtag": false,
		"motio": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
	},
	"rules": {
		"eqeqeq": [
			"error",
			"always"
		],
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"no-console": [
			"off"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		]
	}
}