# disables server signature
ServerSignature Off

# actives the rewrite engine
RewriteEngine On

# rewrites content that are not in https, except for .dev environment
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} !.dev$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# rewrites index direct call
RewriteRule ^index.html$ / [R,L]
RewriteRule ^en/index.html$ /en [R,L]
RewriteRule ^en/index.php$ /en [R,L]

# rewrites urls ending with /
RewriteRule (.*)/$ /$1 [R,L]

# rewrites php urls to html extension
RewriteRule ^([/0-9a-zA-Z-]+)\.php$ index.php?page=$1 [L,QSA]

# rewrites urls to the template engine
RewriteRule ^([/0-9a-zA-Z-]+)$ index.php?page=$1 [L,QSA]

# redirects 404 http request to a specific 404 page
ErrorDocument 404 /index.php?page=404