# disables server signature
ServerSignature Off

# disables directory listing
Options All -Indexes

# disables trailing slash redirects
DirectorySlash Off

# compresses content with the Apache deflate filter
SetOutputFilter DEFLATE

# sets browser cache to 1 week for some files
<FilesMatch "\.(css|ico|js|svg|woff|xml)$">
	Header set Cache-Control "private, max-age=604800, must-revalidate"
</FilesMatch>

# actives the rewrite engine
RewriteEngine On

# rewrites content that are not in https, except for .local environment
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} !.local$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# rewrites index direct call
RewriteRule ^index.html$ / [R=301,L]
RewriteRule ^fr$ / [R=301,L]
RewriteRule ^en/index.html$ /en [R=301,L]
RewriteRule ^en/index.php$ /en [R=301,L]

# removes trailing slashes
RewriteRule (.*)/$ /$1 [R=301,L]

# rewrites urls to the template engine
RewriteRule ^([/a-zA-Z-]+)$ index.php?page=$1 [L]

# redirects 403 and 404 http requests to a specific 404 page
ErrorDocument 403 /index.php?page=404
ErrorDocument 404 /index.php?page=404