@background-color: #000;
@base-color: #fff;
@contrast-color: #00ffd7;

body {
	display: flex;
	justify-content: space-between;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: @background-color;
	color: @base-color;
}

section {
	flex: 1;
	align-self: center;
	
	&.content {
		display: flex;
		justify-content: space-between;
		
		section {
			flex: 0 0 100px;
		}
	}
	
	&.text {
		margin-top: 160px;
	}
	
	&.media {
		a {
			margin: 15px 0 0 0;
			display: block;
		}
	}
	
	svg {
		display: block;
		margin: auto;
	}
}