@background-color: #000;
@base-color: #fff;
@contrast-color: #00ffd7;
@cubic-ease: cubic-bezier(0.075, 0.82, 0.165, 1);

.animation(...) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.transition(...) {
	-webkit-transition: @arguments;
	-moz-transition:@arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(...) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-ms-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: @background-color;
	color: @base-color;
}

section {
	flex: 1 1 auto;
	align-self: center;
	
	&.content {
		display: flex;
		justify-content: space-between;
		
		section {
			flex: 0 0 100px;
		}
	}
	
	&.text {
		margin-top: 160px;
	}
	
	&.media {
		svg {
			fill: @base-color;
			.transition(transform 1s @cubic-ease, fill 800ms ease;);
		}
		
		a {
			position: relative;
			display: block;
			margin-top: 12px;
			padding: 2px;
			
			&:after, &:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 0px;
				height: 1px;
				background: @base-color;
				.transition(width 1.2s @cubic-ease);
				will-change: width;
			}
			
			&:after {
				.transition(width 500ms @cubic-ease);
			}
			
			&:hover {
				&:after, &:before {
					width: 40px;
				}
				
				&:after {
					background: @contrast-color;
					.transition(width 1s 200ms @cubic-ease);
				}
				
				svg {
					fill: @contrast-color;
					.transform(translateX(-10px));
				}
			}
		}
	}
	
	svg {
		display: block;
		margin: auto;
	}
}

#arrow {
	.transition(all 500ms ease);
	.transform(translateX(-3px));
	
	&.highlight {
		stroke: @base-color;
		.transform(translateX(2px));
	}
}

#mailto {
	cursor: pointer;
	
	rect {
		fill: @base-color;
		will-change: width;
		.transition(all 500ms @cubic-ease);
	}
	
	&.highlight {
		rect {
			width: 380px;
			fill: @contrast-color;
			x: 26px;
			.transition(width 500ms ease, fill 500ms ease;);
		}
	}
}

@media (max-width: 1340px) {
	body {
		flex-direction: column;
		justify-content: center;
	}
	
	section {
		flex: auto;
		flex-direction: column;
		
		&.logo {
			display: flex;
			justify-content: flex-end;
		}
		
		&.content {
			section {
				flex: 0 0 70px;
			}
		}
		
		&.text {
			margin-top: 100px;
		}
		
		&.media {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
			a {
				margin: 12px 20px 0 0;
				
				&:last-child {
					margin-right: 0;
				}
				
				&:after, &:before {
					left: 50%;
					top: auto;
					bottom: 0;
					width: 1px;
					height: 0px;
					.transition(height 1.2s @cubic-ease);
					will-change: height;
				}
				
				&:after {
					.transition(height 500ms @cubic-ease);
				}
				
				&:hover {
					&:after, &:before {
						width: 1px;
						height: 40px;
					}
					
					&:after {
						background: @contrast-color;
						.transition(height 1s 200ms @cubic-ease);
					}
					
					svg {
						fill: @contrast-color;
						.transform(translateY(-10px));
					}
				}
			}
		}
		
		svg {
			margin: 0 auto;
		}
	}
}

@media (max-width: 639px) {
	section {
		&.logo {
			svg {
				width: 92%;
			}
		}
		
		&.text {
			margin-top: 0;
			
			svg {
				width: 92%;
			}
			
			#construction {
				.transform(scale(1.2), translateY(-50px));
			}
			
			#arrow, #mailto {
				.transform(scale(1.2), translateY(-50px));
			}
		}
	}
}

@media (max-width: 639px) and (orientation: landscape) {
	section {
		&.logo {
			justify-content: center;
			
			svg {
				height: 10vh;
			}
		}
		
		&.content {
			section {
				flex: 0 0 60px;
			}
		}
		
		&.text {
			margin-top: 10px;
			
			svg {
				height: 50vh;
			}
		}
		
		&.media {
			a {
				&:hover {
					&:after, &:before {
						height: 30px;
					}
				}
			}
		}
	}
}