@background-color: #000;
@base-color: #fff;
@contrast-color: #00ffd7;
@cubic-ease: cubic-bezier(0.075, 0.82, 0.165, 1);

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

body {
	display: flex;
	justify-content: space-between;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: @background-color;
	color: @base-color;
}

section {
	flex: 1;
	align-self: center;
	
	&.content {
		display: flex;
		justify-content: space-between;
		
		section {
			flex: 0 0 100px;
		}
	}
	
	&.text {
		margin-top: 160px;
	}
	
	&.media {
		svg {
			fill: @base-color;
			.transition(all 1.5s @cubic-ease);
		}
		
		a {
			position: relative;
			display: block;
			margin: 12px 0 0;
			padding: 2px;
			
			&:after, &:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 0px;
				height: 1px;
				background: @base-color;
				.transition(all 1.5s @cubic-ease);
			}
			
			&:after {
				.transition(all 0.5s @cubic-ease);
			}
			
			&:hover {
				&:after, &:before {
					width: 40px;
				}
				
				&:after {
					background: @contrast-color;
					.transition(all 1s 0.2s @cubic-ease);
				}
				
				svg {
					fill: @contrast-color;
					.transform(translateX(-10px));
				}
			}
		}
	}
	
	svg {
		display: block;
		margin: auto;
	}
}

#mailto {
	cursor: pointer;
}