// main: build.less

/*
 * medium screens
 */
@media (min-width: 40em) and (max-width: 63.9375em) {

}

/*
 * small screens
 */
@media (max-width: 39.9375em) {

	.menu-button {
		position: absolute;
		z-index: 50;
		top: 44px;
		right: 50px;
		width: 34px;
		height: 34px;
		cursor: pointer;

		&:hover {
			span {
				.transform(translateX(30%));
			}
		}

		&::before, &::after, span {
			content: '';
			position: absolute;
			display: block;
			height: 4px;
			width: 100%;
			background: @contrast-color;
			cursor: pointer;
		}

		&::before {
			top: 3px;
			.transition(all 400ms ease);
		}

		&::after {
			bottom: 3px;
			.transition(all 400ms ease);
		}

		span {
			top: 15px;
			width: 75%;
			.transition(transform 800ms @cubic);
		}
	}

	.menu-trigger {
		left: -100px;
		opacity: 0;
	}

	.clone {
		.menu-button {
			&::before, &::after, span {
				background: @base-color;
			}
		}
	}
}